@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #E5E5E5;
  background-image: url("bg.jpg");
  font-family: Arial, sans-serif;
}

.card {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 2em auto;
  perspective: 5000px;
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s ease-in-out;
}

#card-front {
  background: #ee9ca7;
  background-image: linear-gradient(top, #FF5555 0%, #FF7777 100%);
  color: #FFDFDF;
  z-index: 10;
}

#card-inside {
  background: #FFEFEF;
  color: #331717;
  transform: rotateY(180deg);
}

#card h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-style: italic;
  font-size: 3em;
  color: #FFF;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15), 1px 1px 0 #ffc8c8, 2px 2px 0 #ff9696, 3px 3px 0 #ff7d7d;
}

.wrap {
  padding: 1.5em;
  height: 100%;
  text-align: center;
}

button {
  background: #F44;
  color: #FFF;
  font-family: 'Lobster', cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #F22;
}

#card.open-fully #card-front {
  transform: rotateY(-180deg);
}

#card.open-half #card-front {
  transform: rotateY(-90deg);
}

#card.close-half #card-front {
  transform: rotateY(0deg);
}

#card.open-fully #card-inside {
  transform: rotateY(0deg);
}

#card.open-half #card-inside {
  transform: rotateY(90deg);
}

#card.close-half #card-inside {
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  #card h1 {
    font-size: 2em;
  }

  button {
    font-size: 1em;
  }
}
